<div class="container">

    <div class="order-form">

        <div>
            <mat-form-field appearance="fill" class="combo-box-container">
                <mat-label>Unesite naziv restorana</mat-label>
                <mat-select  [(ngModel)]="nazivRestorana"> 
                  <mat-option *ngFor="let restoran of restorani" [value]="restoran.naziv">
                    {{restoran.naziv}}
                  </mat-option>
                </mat-select>
              </mat-form-field> 
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Unesite naziv hrane</mat-label>
                <input [(ngModel)]="nazivHrane" matInput placeholder="Naziv hrane">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Unesite komentar</mat-label>
                <input [(ngModel)]="komentar" matInput placeholder="Komentar">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Unesite iznos za naplatu</mat-label>
                <input type="number" [(ngModel)]="iznosZaNaplatu" matInput placeholder="1000">
            </mat-form-field>
        </div>
        
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input [min]="minimalniDatum" [(ngModel)]="datumDostave" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div>
            <div>
                <button class="button-primary" (click)="naruci()" mat-raised-button color="primary">Naruci</button>
            </div>
        </div>


    </div>

</div>