.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #EDEDE7;
}


table {
    width: 100%;
}

.table-container {
    width: 95%;
    height: auto;
}

mat-icon {
    cursor: pointer;
}

.mat-form-field {
    padding: 15px;
    font-size: 14px;
    width: 95%;
}

.filter-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.button-primary {
    width: 150px;
}

.text-center {
    text-align: center;
}