<div class="container">
    <div class="mat-elevation-z8 table-container">
        <table mat-table [dataSource]="dataSource" id="divId">

            <!-- Naziv restorana -->
            <ng-container matColumnDef="nazivRestorana">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Naziv restorana </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.nazivRestorana}} </td>
            </ng-container>

            <!-- Datum dostave -->
            <ng-container matColumnDef="datumDostave">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Datum dostave</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.datumDostave | date}} </td>
            </ng-container>

            <!-- Naziv hrane -->
            <ng-container matColumnDef="nazivHrane">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Naziv hrane </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.nazivHrane}} </td>
            </ng-container>

            <!-- Komentar -->
            <ng-container matColumnDef="komentar">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Komentar </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.komentar}} </td>
            </ng-container>

            <!-- Iznos za naplatu -->
            <ng-container matColumnDef="iznosZaNaplatu">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Iznos za naplatu </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.iznosZaNaplatu}} </td>
            </ng-container>

            <!-- Moguce isporuciti -->
            <ng-container matColumnDef="moguceIsporuciti">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Moguce isporuciti </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    {{element.moguceIsporuciti? 'Moguce' : 'Nemoguce'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>