<div class="container">
    <h1>
        {{text}}
    </h1>

    <button (click)="onOkay()" class="add-ingredient-button" mat-raised-button color="primary">Izbrisi</button>
    <button (click)="onCancel()" class="add-ingredient-button" mat-raised-button color="warn">Odustani</button>
</div>