<div class="container">

    <div class="login-form">

        <div class="username-container">

            <mat-form-field class="example-full-width">
                <mat-label>Unesite korisnicko ime</mat-label>
                <input [(ngModel)]="korisnickoIme" matInput placeholder="username">
            </mat-form-field>

        </div>

        <div class="password-container">

            <mat-form-field class="example-full-width">
                <mat-label>Unesite sifru</mat-label>
                <input [(ngModel)]="sifra" matInput placeholder="sifra123">
            </mat-form-field>

        </div>

        <div class="button-container">
            <button class="button-primary" (click)="login()" mat-raised-button color="primary">Uloguj se</button>
            <div class="registruj-se-label-container">
                <label>Nemas nalog? <label (click)="redirectToRegister()" class="registruj-se-label">Registruj
                        se</label></label>
            </div>
        </div>

    </div>

</div>