<div class="container">

    <div class="chip-container">
        <div>
            Naziv restorana:

        </div>
        <div>
            {{racun.nazivRestorana}}
        </div>
    </div>

    <div class="chip-container">
        <div>
            Tekst narudzbine:

        </div>
        <div>
            {{racun.nazivObroka}}
        </div>
    </div>

    <div class="chip-container">
        <div>
            Ime narucioca:

        </div>
        <div>
            {{racun.imeKorisnika}}
        </div>
    </div>

    <div class="chip-container">
        <div>
            Prezime narucioca:

        </div>
        <div>
            {{racun.prezimeKorisnika}}
        </div>
    </div>

    <div class="chip-container">
        <div>
            Adresa narucioca:

        </div>
        <div>
            {{racun.adresa}}
        </div>
    </div>

    <div class="chip-container">
        <div>
            Broj telefona narucioca:

        </div>
        <div>
            {{racun.broj}}
        </div>
    </div>

    <div class="chip-container">
        <div>
            Iznos za naplatu:

        </div>
        <div>
            {{racun.iznosZaNaplatu}}
        </div>
    </div>

    <div class="chip-container">
        <div>
            Datum za dostavu:

        </div>
        <div>
            {{racun.datumDostave | date: 'dd/MM/yyyy'}}
        </div>
    </div>

    <div class="chip-container">
        <div>
            Vreme izdavanja racuna:

        </div>
        <div>
            {{racun.vremeIzdavanjaRacuna | date: 'mm:HH - dd/MM/yyyy'}}
        </div>
    </div>

</div>