.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.container {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 84vh;
    flex-direction: column;
    background-color: #EDEDE7;
}

.chip-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 700px;
    height: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-family: cursive;
    padding-left: 10px;
    padding-right: 10px;
}