<mat-toolbar color="primary" id="navbar">
   
    <mat-toolbar-row>
      <span class="cursor" (click)="redirectToHome()">Evidencija dostave hrane</span>
      <span class="example-spacer"></span>
        <label *ngIf="korisnikJeAdmin" (click)="redirektNaSveKorisnike()" class="cursor pr svi-korisnici">Svi korisnici</label>
        <label class="cursor pr" (click)="ulogujSe()" *ngIf="!korisnikJeUlogovan">Uloguj se</label>
        <label class="cursor pr" (click)="izlogujSe()" *ngIf="korisnikJeUlogovan">Izloguj se </label>
    </mat-toolbar-row>
  </mat-toolbar>