<div class="container">
    <div class="mat-elevation-z8 table-container">
        <div class="filter-container">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input [(ngModel)]="filterParametar" matInput placeholder="Ex. ium">
            </mat-form-field>
            <div class="filter-button-container">
                <button class="button-primary buttons" (click)="filtrirajPoNazivuUlice()" mat-raised-button
                    color="primary">Filter</button>
                <button (click)="stampaj()" class="add-ingredient-button buttons" mat-raised-button
                    color="primary">Stampaj</button>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource">

            <!-- id korisnika -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id korisnika </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!--korisnicko ime -->
            <ng-container matColumnDef="korisnickoIme">
                <th mat-header-cell *matHeaderCellDef> Korisnicko Ime</th>
                <td mat-cell *matCellDef="let element"> {{element.korisnickoIme}} </td>
            </ng-container>

            <!-- ime -->
            <ng-container matColumnDef="ime">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Ime </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.ime}} </td>
            </ng-container>

            <!-- prezime -->
            <ng-container matColumnDef="prezime">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Prezime </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.prezime}} </td>
            </ng-container>

            <!-- adresa -->
            <ng-container matColumnDef="adresa">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Adresa </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.adresa}} </td>
            </ng-container>

            <!-- brojTelefona -->
            <ng-container matColumnDef="brojTelefona">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Broj Telefona </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.brojTelefona}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>

</div>