.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #EDEDE7;
    flex-direction: column;
}

table {
    width: 100%;
}

.table-container {
    width: 80%;
    height: auto;
}

mat-icon {
    cursor: pointer;
}

.mat-form-field {
    padding: 15px;
    font-size: 14px;
    width: 80%;
}

.filter-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.button-primary {
    width: 150px;
}

.filter-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 160px;
}

.text-center {
    text-align: center;
}

.buttons-container{
    padding-top:35px;
    display: flex;
    width: 800px;
    justify-content: space-around;
}