<div class="container">
    <div class="mat-elevation-z8 table-container">
        <div class="filter-container">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input [(ngModel)]="filterParametar" matInput placeholder="Ex. ium">
            </mat-form-field>
            <div class="filter-button-container">
                <button class="button-primary" (click)="filtriraj()" mat-raised-button color="primary">Filter</button>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource">

            <!-- Naziv restorana -->
            <ng-container matColumnDef="nazivRestorana">
                <th mat-header-cell *matHeaderCellDef> Naziv restorana </th>
                <td mat-cell *matCellDef="let element"> {{element.nazivRestorana}} </td>
            </ng-container>

            <!-- Datum dostave -->
            <ng-container matColumnDef="datumDostave">
                <th mat-header-cell *matHeaderCellDef> Datum dostave</th>
                <td mat-cell *matCellDef="let element"> {{element.datumDostave | date}} </td>
            </ng-container>

            <!-- Naziv hrane -->
            <ng-container matColumnDef="nazivHrane">
                <th mat-header-cell class="text-center" *matHeaderCellDef> Naziv hrane </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.nazivHrane}} </td>
            </ng-container>

            <!-- Komentar -->
            <ng-container matColumnDef="komentar">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Komentar </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.komentar}} </td>
            </ng-container>

            <!-- Iznos za naplatu -->
            <ng-container matColumnDef="iznosZaNaplatu">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Iznos za naplatu </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.iznosZaNaplatu}} </td>
            </ng-container>

            <!-- Moguce isporuciti -->
            <ng-container matColumnDef="moguceIsporuciti">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Moguce isporuciti </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    {{element.moguceIsporuciti? 'Moguce' : 'Nemoguce'}} </td>
            </ng-container>

            <!-- verifikovana -->
            <ng-container matColumnDef="odobrena">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Odobreno </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    {{element.verifikovana? 'Jeste' : 'Nije'}} </td>
            </ng-container>

            
            <!-- Edit dugme -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Izmena </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <mat-icon (click)="edit(element.id)">edit</mat-icon>
                </td>
            </ng-container>

            <!-- Izbrisi dugme -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Izbrisi </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon (click)="delete(element.id)">delete</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <div class="buttons-container">
        <button (click)="naruciHranu()" class="add-ingredient-button" mat-raised-button color="primary"> Naruci hranu
        </button>
        <button (click)="dodajRestoran()" class="add-ingredient-button" mat-raised-button color="primary">Unesi
            restoran</button>
        <button (click)="stampaj()" class="add-ingredient-button" mat-raised-button color="primary">Stampaj</button>
    </div>

</div>