<div class="container">

    <div class="form-container">
        <div class="naziv-restorana-container">
            <mat-form-field class="example-full-width">
                <mat-label>Unesite naziv restorana</mat-label>
                <input [(ngModel)]="naziv" matInput placeholder="Kafemat">
            </mat-form-field>
        </div>

        <div class="button-container">
            <button class="button-primary" (click)="dodajRestoran()" mat-raised-button color="primary">Prihvati</button>
        </div>
    </div>

</div>