.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #EDEDE7;
}

div {
    padding: 15px;
}

.button-container {
    padding: 15px;
    width: 400px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.button-primary {
    width: -webkit-fill-available;
    height: 50px;
}

.naziv-restorana-container{
    width: 400px;
}

.form-container{
    border: 2px solid gray;
    border-radius: 12px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}